@model AMBRD.Models.ViewModels.AmbulanceReportDTO
@{
    ViewBag.Title = "Daily";
    Layout = null;
}

<style>
    #main {
        margin: 4%;
    }
</style>
 
<div id="main">

    @using (Html.BeginForm("Daily", "AmbulanceReport", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-4">
                Select Date
                @Html.TextBoxFor(a => a.sdate, new { @class = "datepicker form-control", required = "required",type="date" })
            </div>
            <div class="col-md-4" style="margin-top:17px;">
                <input type="submit" id="test" value="Search" class="btn btn-secondary" />
            </div>
        </div>
    }

    @if (Model.AmbulanceYMWDRecord == null)
    {
        if (TempData["msg"] != null)
        {
            <h2 style="color:blueviolet">
                @TempData["msg"]
            </h2>
        }
    }
    else
    {
        <table id="tables" class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        Vehicle Number
                    </th>
                    <th>
                        Vehicle Name
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AmbulanceYMWDRecord)
                {
                    <tr>
                        <td>
                            @item.VehicleNumber
                        </td>
                        <td>
                            @item.VehicleName
                        </td>
                        <td>
                            <a href="/AmbulanceReport/DailyRecord?Id=@item.Id">View Record</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<script src="~/assets/js/jquery-3.3.1.min.js"></script> 
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(".datepicker").datepicker().datepicker('setdate', 'today');

    //$(".datepicker").datepicker({dateFormat: "yy/mm/dd",}).val();

    $("#test").click(function () {
        debugger
        var sdate = $("#sdate").val();
        $.ajax({
            url: "/AmbulanceReport/Daily?date=" + sdate + "",
            type: "get",
            success: function (response) {
                console.log(response);
                $("#prevAtt").html(response);
            },
            error: function (error) {
                console.log(error.responseText);
                msg.text("");
            }
        });
    })
</script>

