@model AMBRD.Models.ViewModels.VehicleAllotmentDTO
@{
    ViewBag.Title = "UpdateVehicles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .ui-menu-item {
        display: grid;
    }
</style>
@using (Html.BeginForm("UpdateVehicles", "Ambulance"))
{
    <div class="page-wrapper">
        <div class="page-body-wrapper">
            <div class="page-sidebar">

            </div>

            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h3>
                                        Update Driver
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item"><a href="/Default/Dashboard"><i data-feather="home"></i></a></li>

                                    <li class="breadcrumb-item active">Allot Vehicle</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row product-adding">
                        <div class="col-xl-6">

                            <div class="card">

                                <div class="card-body">
                                    <div class="digital-add needs-validation">
                                        @using (Html.BeginForm())
                                        {
                                            <div class="form-group row">
                                                <div class="col-xl-4 col-md-5">
                                                    <label for="validationCustom2">Select Any Type</label>
                                                </div>
                                                <div class="col-xl-4 col-md-7">
                                                    @Html.DropDownListFor(a => a.Id, Model.VehicleList, "--Select Type--", new { @class = "form-control", required = "required" })
                                                </div>

                                            </div>
                                            <div class="form-group row">

                                                <div class="col-xl-4 col-md-5">
                                                    <label for="validationCustom2">Enter Vehicle Number</label>
                                                </div>
                                                <div class="col-xl-4 col-md-7">
                                                    @Html.TextBoxFor(a => a.VehicleNumber, new { @class = "form-control", required = "required" })
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <input type="submit" value="Update" class="btn btn-secondary">
                                            </div>
                                        }

                                        @if (TempData["msg"] != null)
                                        {
                                            <h2 style="color:palevioletred">@TempData["msg"]</h2>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $("#VehicleNumber").autocomplete({
        source: function (request, response) {
            // Get the selected vehicle type ID from the dropdown list
            var vehicleTypeId = $("#Id").val();

            // If the selected value is not available, you might want to handle it
            if (!vehicleTypeId) {
                console.log("No vehicle type selected");
                return;
            }

            $.ajax({
                url: '/Ambulance/GetVehicleNumberList',
                data: { term: request.term, vehicleTypeId: vehicleTypeId },
                type: 'POST',
                success: function (data) {
                    if (!data.length) {
                        var result = [
                            {
                                label: 'No Vehicle found',
                                value: response.term
                            }
                        ];
                        response(result);
                    } else {
                        response($.map(data, function (item) {
                            return {
                                label: item.VehicleNumber,
                                value: item.VehicleNumber,
                                id: item.Id,
                            };
                        }));
                    }
                }
            });
        }
    });
</script>

