@model AMBRD.Models.ViewModels.VehicleAllotmentDTO
@{
    ViewBag.Title = "VehicleAllotment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .ui-menu-item {
        display: grid;
    }
</style>
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">

        </div>

        <div class="page-body">


            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>
                                    Vehicle Allotment to Old Driver
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Default/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Master Entries</li>
                                <li class="breadcrumb-item active">Add State</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row product-adding">
                    <div class="col-xl-6">

                        <div class="card">

                            <div class="card-body">
                                <div class="digital-add needs-validation">
                                    @using (Html.BeginForm("VehicleAllotment", "Ambulance"))
                                    {
                                        <div class="form-group row">
                                            <div class="col-xl-4 col-md-5">
                                                <label for="validationCustom2">Enter Vehicle Number</label>
                                            </div>
                                            <div class="col-xl-4 col-md-7">
                                                @Html.TextBoxFor(a => a.VehicleNumber, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-3">
                                                <input type="submit" value="Search" class="btn btn-secondary">
                                            </div>
                                        </div>

                                    }

                                    <div style="margin-top:5%;">
                                        @if (Model.VehicleLists != null)
                                        {
                                            <table class="table ">
                                                <thead>
                                                    <tr>
                                                        <th>Vehicle Number</th>
                                                        <th>Driver Name</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.VehicleLists)
                                                    {
                                                        <tr>
                                                            <td>@item.VehicleNumber</td>
                                                            <td>@item.DriverName</td>
                                                            <td>
                                                                
                                                                  <a href="/Ambulance/UpdateDriver?Id=@item.VehicleId" class="btn btn-secondary">Update</a>
                                                                    
                                                                
                                                            </td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {

                                        }
                                        </div>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $("#VehicleNumber").autocomplete({
        source: function (request, response) {
            debugger
            $.ajax({
                url: '/Ambulance/GetVehicleNumberList',
                data: { term: request.term },
                type: 'POST',
                success: function (data) {
                    if (!data.length) {
                        debugger
                        var result = [
                            {
                                label: 'No Vehicle found',
                                value: response.term
                            }
                        ];
                        response(result);
                    }
                    else {

                        response($.map(data, function (item) {
                            debugger
                            id = item.Id
                            console.log(id);
                            return {
                                label: item.VehicleNumber,
                                value: item.VehicleNumber,
                                id: item.Id,
                            };
                        }));
                    }
                }
            });
        },
    });
</script>
